:root {
  font: 16px / 1 sans-serif;
}

html {
  height: 100%;
  background-color: #008aa1;
}

.header {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

h1 {
  font-family: 'Times New Roman', Times, serif;
  color: #405467;
}

#nav {
  display: flex;
  justify-content: center;
  justify-content: space-around;
  background-color: #00bfd5;
  padding-bottom: 1rem;
  list-style: none;
  font-family: ;
  color: white;
  text-decoration: underline;
  margin-top: 1rem;
  text-align: center;
}

#header {
  display: flex;
  justify-content: space-around;

  text-align: center;
}

body {
  margin: 10% 5% 20% 15%;
  min-height: 90%;
  background-color: #ddf2f3;
  max-width: 70%;
}

main {
  display: flex;
  align-items: flex-start;
}

.container1 {
  font-size: 0.8rem;
  border: 0.02rem solid;
  border-color: #008aa1;
  margin-bottom: 2rem;
  margin: 1% 5% 10% 5%;
}

#cat {
  margin-top: 0.2rem;
  margin-left: 0.2rem;
  margin-right: 0.2rem;
}

#daily {
  text-align: center;
  margin-top: 0rem;
}

#spotlist {
  margin-left: 2rem;
  font-size: 1rem;
  font-family: Arial, Helvetica, sans-serif;
}

h2 {
  margin: 0rem;
  text-align: left;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.container2 {
  display: flex;
  flex-direction: column;
  align-content: space-around;
  text-justify: newspaper;
  max-width: 80%;
  margin: 1% 5% 10% 1%;
}

p {
  font-size: 1.2rem;
  font-family:'Noto Sans KR', sans-serif;
  margin-top: 0.5;
  fon
}

footer {
  display: flex;
  justify-content: center;
  justify-content: space-around;
  background-color: #d3d3d3;
  padding-top: 1rem;
  padding-bottom: 1rem;
  list-style: none;
  text-decoration: underline;
  margin-top: 0rem;
}
